.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a:hover {
  font-weight: normal;
  text-decoration: underline;
}

.news-item {
  margin-bottom: 16px;
}

.read-more {
  display: block;
  text-align: right;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

nav a {
  flex-grow: 1;
  margin-bottom: 16px;
}